In [10]:
data = pd.read_csv('Learning_Intern_Raw_Data.csv', sep=',')
data

,user_id,gender,age_range,phone,state,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,NaN,NaN
1,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
2,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
4,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65528,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #5,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65530,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #6,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Drop unnecessary columns
df = data[['user_id', 'program', 'assignment_name', 'assignment_type', 'assignment_score', 'has_logged_into_lms', 'Is assignment resubmitted', 'learner_deferred', 'learner_dropped_off', 'overall_score', 'graduated']]

In [ ]:
# Filter only 'test' assignment types
test_scores = df[df['assignment_type'] == 'test']
test_scores

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,NaN,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
65525,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
65527,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #4,test,80.95,Yes,Yes,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [14]:

# Compute average test score per user
overall_scores = test_scores.groupby('user_id')['assignment_score'].mean()

# Merge computed scores back into the original DataFrame
df.loc[:, 'overall_score'] = df['user_id'].map(overall_scores)

# Save the updated file
df.to_excel("Updated_Learning_Intern.xlsx", index=False)

print("Overall scores updated successfully!")

Overall scores updated successfully!

In [16]:
df.head(15)

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,40.875714,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,40.875714,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,40.875714,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,40.875714,NaN
6,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #4,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,40.875714,NaN
8,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #5,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,40.875714,NaN
10,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #6,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
11,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #6,test,0.00,Yes,No,No,NaN,40.875714,NaN
12,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,40.875714,NaN
13,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #1,milestone,0.00,Yes,No,No,NaN,90.247143,NaN
14,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #1,test,100.00,Yes,No,No,NaN,90.247143,NaN

In [28]:
# Define the required milestones
required_milestones = {"Milestone #1", "Milestone #2", "Milestone #3"}

# Filter only required milestones
milestone_scores = df[df['assignment_name'].isin(required_milestones)][['user_id', 'assignment_name', 'assignment_score']]

# Convert scores to numeric (in case they are stored as strings)
milestone_scores['assignment_score'] = pd.to_numeric(milestone_scores['assignment_score'], errors='coerce')

# Identify users who have **all three** milestones with a score greater than 0
valid_users = (
    milestone_scores.groupby('user_id')
    .apply(lambda x: all(x.set_index('assignment_name').loc[list(required_milestones), 'assignment_score'] > 0))
    .reset_index()
)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11800\2800886042.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: all(x.set_index('assignment_name').loc[list(required_milestones), 'assignment_score'] > 0))

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65533 entries, 0 to 65532
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_id                    65533 non-null  object
 1   program                    65533 non-null  object
 2   assignment_name            65533 non-null  object
 3   assignment_type            65533 non-null  object
 4   assignment_score           65533 non-null  float64
 5   has_logged_into_lms        65533 non-null  object
 6   Is assignment resubmitted  65533 non-null  object
 7   learner_deferred           65533 non-null  object
 8   learner_dropped_off        65533 non-null  int64
 9   overall_score              65533 non-null  float64
 10  graduated                  0 non-null      float64
dtypes: float64(3), int64(1), object(7)
memory usage: 5.5+ MB

In [32]:
# Get user IDs who submitted valid milestones
submitted_all = valid_users[valid_users[0]]['user_id']

# Assign learner_dropped_off: 1 (Dropped Off), 0 (Stayed)
df.loc[:, 'learner_dropped_off'] = df['user_id'].apply(lambda x: 0 if x in submitted_all.values else 1)

# Validation Step: Count dropped users
dropped_count = int(df['learner_dropped_off'].sum()/13)
total_users = df['user_id'].nunique()
print(f"Total Learners: {total_users}")
print(f"Learners Dropped Off: {dropped_count}")
print(f"Learners Remaining: {total_users - dropped_count}")

# Save the updated DataFrame
df.to_csv("updated_data.csv", index=False)

print("Users who didn't submit valid milestone scores have been marked as dropped off successfully!")

Total Learners: 5041
Learners Dropped Off: 3079
Learners Remaining: 1962
Users who didn't submit valid milestone scores have been marked as dropped off successfully!

In [31]:
df.head(30)

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,0,40.875714,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,0,40.875714,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,0,40.875714,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,0,40.875714,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,0,40.875714,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,0,40.875714,NaN
6,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #4,milestone,0.00,Yes,No,No,0,40.875714,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,0,40.875714,NaN
8,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #5,milestone,0.00,Yes,No,No,0,40.875714,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,0,40.875714,NaN
10,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #6,milestone,0.00,Yes,No,No,0,40.875714,NaN
11,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #6,test,0.00,Yes,No,No,0,40.875714,NaN
12,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,AiCE Final Grace Period Test,test,0.00,Yes,No,No,0,40.875714,NaN
13,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #1,milestone,0.00,Yes,No,No,1,90.247143,NaN
14,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #1,test,100.00,Yes,No,No,1,90.247143,NaN
15,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #2,milestone,50.00,Yes,Yes,No,1,90.247143,NaN
16,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #2,test,86.36,Yes,No,No,1,90.247143,NaN
17,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #3,milestone,100.00,Yes,Yes,No,1,90.247143,NaN
18,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #3,test,85.00,Yes,Yes,No,1,90.247143,NaN
19,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #4,milestone,89.03,Yes,No,No,1,90.247143,NaN
20,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #4,test,88.09,Yes,Yes,No,1,90.247143,NaN
21,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #5,milestone,100.00,Yes,No,No,1,90.247143,NaN
22,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #5,test,90.47,Yes,Yes,No,1,90.247143,NaN
23,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #6,milestone,0.00,Yes,Yes,No,1,90.247143,NaN
24,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #6,test,81.81,Yes,Yes,No,1,90.247143,NaN
25,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,AiCE Final Grace Period Test,test,100.00,Yes,Yes,No,1,90.247143,NaN
26,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Milestone #1,milestone,0.00,Yes,No,No,1,0.000000,NaN
27,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Weekly Test #1,test,0.00,Yes,No,No,1,0.000000,NaN
28,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Milestone #2,milestone,0.00,Yes,No,No,1,0.000000,NaN
29,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Weekly Test #2,test,0.00,Yes,No,No,1,0.000000,NaN